/* =Reset
-------------------------------------------------------------- */
/* line 3, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/style.scss */
body {
  line-height: 1.5;
  font-size: 12px;
}

/* line 13, ../sass/style.scss */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
  color: #4B4B4B;
  font-family: Arial, sans-serif;
}

/* line 18, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

/* line 22, ../sass/style.scss */
a img {
  border: none;
}

/* line 26, ../sass/style.scss */
a {
  outline: none;
}

/* line 30, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, ../sass/style.scss */
th, td {
  text-align: left;
  font-weight: 400;
}

/* line 40, ../sass/style.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* =Titres
-------------------------------------------------------------- */
/* line 53, ../sass/style.scss */
h1 {
  font-size: 24px;
}

/* line 57, ../sass/style.scss */
h2 {
  font-size: 18px;
}

/* line 61, ../sass/style.scss */
h3 {
  font-size: 16px;
}

/* line 65, ../sass/style.scss */
h4 {
  font-size: 14px;
}

/* line 69, ../sass/style.scss */
h5 {
  font-size: 13px;
}

/* line 73, ../sass/style.scss */
h6 {
  font-size: 12px;
}

/* =Header
-------------------------------------------------------------- */
/* line 81, ../sass/style.scss */
.ui-header {
  background: url("../img/header-bg.png");
  border: none;
  padding: 1px;
}

/* =Wrapper
-------------------------------------------------------------- */
/* line 91, ../sass/style.scss */
.ingemedia {
  background: url("../img/bg.png");
}
