ErrorDocument 404 http://localhost/alert-domain/404.php

# Le serveur doit suivre les liens symboliques
Options +FollowSymLinks -MultiViews

# Activation du module de réécriture d'URL
RewriteEngine on

# Force Trailing Slash
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^(.*[^/])$ http://%{HTTP_HOST}/$1/ [L,R=301]