ErrorDocument 404 http://localhost/alert-domain/404.php

# Le serveur doit suivre les liens symboliques
Options +FollowSymLinks -MultiViews

# Activation du module de réécriture d'URL
RewriteEngine on

# Force Trailing Slash
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^(.*[^/])$ http://%{HTTP_HOST}/$1/ [L,R=301]

# Home
RewriteRule ^([a-z]{2})/$ ?lang=$1 [L]

# Authentification
RewriteRule ^authentification/$ authentification.php?lang=fr [L]
RewriteRule ^([a-z]{2})/authentification/$ authentification.php?lang=$1 [L]

# Logout
RewriteRule ^deconnexion/$ deconnexion.php?lang=fr [L]
RewriteRule ^([a-z]{2})/deconnexion/$ deconnexion.php?lang=$1 [L]

# Forbidden
RewriteRule ^forbidden/$ forbidden.php?lang=fr [L]
RewriteRule ^([a-z]{2})/forbidden/$ forbidden.php?lang=$1 [L]

# Mot de passe oublié
RewriteRule ^mot-de-passe-oublie/$ mot-de-passe-oublie.php?lang=fr [L]
RewriteRule ^([a-z]{2})/mot-de-passe-oublie/$ mot-de-passe-oublie.php?lang=$1 [L]

# Réinitialisation mot de passe
RewriteRule ^reinitialisation-mot-de-passe/([A-Za-z0-9-]+)/$ reinitialisation-mot-de-passe.php?lang=fr&token=$1 [L]
RewriteRule ^([a-z]{2})/reinitialisation-mot-de-passe/([A-Za-z0-9-]+)/$ reinitialisation-mot-de-passe.php?lang=$1&token=$2 [L]

# Mes informations
RewriteRule ^mes-informations/$ mes-informations.php?lang=fr [L]
RewriteRule ^([a-z]{2})/mes-informations/$ mes-informations.php?lang=$1 [L]

# Mes domaines
RewriteRule ^mes-domaines/en-cours/$ mes-domaines-en-cours.php?lang=fr [L]
RewriteRule ^([a-z]{2})/mes-domaines/en-cours/$ mes-domaines-en-cours.php?lang=$1 [L]
RewriteRule ^([a-z]{2})/mes-domaines/en-cours/page/([0-9]+)/$ mes-domaines-en-cours.php?lang=$1&num_page=$2 [L]

# Mes factures PDF
RewriteRule ^mes-factures-pdf/([0-9]+)/$ facture-pdf.php?lang=fr&id=$1 [L]
RewriteRule ^([a-z]{2})/mes-factures-pdf/([0-9]+)/$ facture-pdf.php?lang=$1&id=$2 [L]

# Mes factures HTML
RewriteRule ^mes-factures-html/([0-9]+)/$ facture-html.php?lang=fr&id=$1 [L]
RewriteRule ^([a-z]{2})/mes-factures-html/([0-9]+)/$ facture-html.php?lang=$1&id=$2 [L]

# Mes factures 
RewriteRule ^mes-factures/$ mes-factures.php?lang=fr [L]
RewriteRule ^([a-z]{2})/mes-factures/$ mes-factures.php?lang=$1 [L]
RewriteRule ^([a-z]{2})/mes-factures/page/([0-9]+)/$ mes-factures.php?lang=$1&num_page=$2 [L]

# Mes domaines terminés
RewriteRule ^mes-domaines/terminees/$ mes-domaines-terminees.php?lang=fr [L]
RewriteRule ^([a-z]{2})/mes-domaines/terminees/$ mes-domaines-terminees.php?lang=$1 [L]
RewriteRule ^([a-z]{2})/mes-domaines/terminees/page/([0-9]+)/$ mes-domaines-terminees.php?lang=$1&num_page=$2 [L]

# Mentions légales
RewriteRule ^mentions-legales/$ mentions-legales.php?lang=fr [L]
RewriteRule ^([a-z]{2})/mentions-legales/$ mentions-legales.php?lang=$1 [L]

# Conditions générales de vente
RewriteRule ^cgv/$ cgv.php?lang=fr [L]
RewriteRule ^([a-z]{2})/cgv/$ cgv.php?lang=$1 [L]

# Contact
RewriteRule ^contact/$ contact.php?lang=fr [L]
RewriteRule ^([a-z]{2})/contact/$ contact.php?lang=$1 [L]

# Domaines
RewriteRule ^selection-domaines/$ selection-domaines.php?lang=fr [L]
RewriteRule ^([a-z]{2})/selection-domaines/$ selection-domaines.php?lang=$1 [L]

# Panier
RewriteRule ^panier/$ panier.php?lang=fr [L]
RewriteRule ^([a-z]{2})/panier/$ panier.php?lang=$1 [L]

# Commander authentification
RewriteRule ^commander-authentification/$ commander-authentification.php?lang=fr [L]
RewriteRule ^([a-z]{2})/commander-authentification/$ commander-authentification.php?lang=$1 [L]

# Commande recapitulatif
RewriteRule ^commande-recapitulatif/$ commande-recapitulatif.php?lang=fr [L]
RewriteRule ^([a-z]{2})/commande-recapitulatif/$ commande-recapitulatif.php?lang=$1 [L]

# Registar
RewriteRule ^registar/([A-Za-z0-9-]+)/$ registar.php?registar=$1 [L]

# Paiement securise
RewriteRule ^paiement-securise/$ paiement-securise.php?lang=fr [L]
RewriteRule ^([a-z]{2})/paiement-securise/$ paiement-securise.php?lang=$1 [L]

# No script
RewriteRule ^noscript/$ noscript.php?lang=fr [L]
RewriteRule ^([a-z]{2})/noscript/$ noscript.php?lang=$1 [L]

# Liste extensions
RewriteRule ^extensions/$ extensions.php?lang=fr [L]
RewriteRule ^([a-z]{2})/extensions/$ extensions.php?lang=$1 [L]
